body {
    margin: 1px;
}

.circle:hover {
    background-color: #ffb1b1;
}

.search-box {
    top: 50%;
    left: 50%;
    background: #ffffff;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-input-placeholder {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #aeaeae;
}

.search-text {
    background: none;
    border: none;
    outline: 0;
    color: #f05;
    padding: 0;
    line-height: 40px;
    font-size: 16px;
    width: 0;
    transition: 0.4s;

}


.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ff3838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.loupe-white {
    display: none;

}

.search-box:hover>.search-text {
    width: 240px;
    padding: 0 6px;

}

.search-box:hover>.search-btn {
    background: #f7aeae;

}

.search-box>.search-btn .loupe-blue {
    display: none;
}

.search-box>.search-btn .loupe-white {
    display: block;
}

.falar {
    background-color: #ff3838;
    margin-left: 92%;
    width: 130px;
    height: 60px;
    color: #fff;
    border-radius: 9%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

header {
    background-color: #fffcfc;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.pro {

    width: 60px;
}

.lo {
    width: 90px;
    margin-left: 2%;
}

h1 {
    color: #000;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 630px;
    width: 100px;
    float: left;
    padding: 5px;
}

.rest {
    width: 850px;
    border-radius: 5%;
    margin-top: 4%;
    text-align: center;
    margin-left: 15%;
}


#usu {
    width: 63px;


}

.alinhar {
    justify-content: center;
    display: flex;
    align-items: center;
}

.wh {
    width: 45px;

}

.ins {
    width: 30px;
}

img {
    width: 25px;
}

ul {
    flex: 1;
    display: flex;
    flex-direction: row;
}

header ul li {
    padding: 2rem;
    list-style: none;
    font-size: 20pt;
}

.m {
    width: 100px;
}

.ma {
    width: 100px;
}

#botao-sacola {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3838;
    height: 45px;
    width: 170px;
    color: #ffffff;
    border-radius: 25px;
    font-size: 18pt;
    margin-left: 2%;
    margin-right: 3%;

}

.teste {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.part1 {
    margin: 0;
}

.tit1 {
    text-align: left;
    font-size: 20pt;
    margin: 0;
    color: #101438;
}

.falar {
    background-color: #ff3838;
    margin-left: 92%;
    width: 130px;
    height: 60px;
    color: #fff;
    border-radius: 9%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

.circle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.233);
    border-radius: 20px;
    height: 100px;
    padding: 20px;
    margin: 50px;
}

.circle img {
    border-radius: 60%;
    width: 100px;
    height: 100px;
}

#sacola-img {
    width: 47px;


}




header ul li:hover {
    background-color: #f7aeae;
    border-radius: 15px;
    font-family: 'Calisto MT';
}

.local {
    width: 35px;
    margin-left: 2%;
    margin-right: 2%;
}

.ft {
    width: 250px;
    margin: 0px 15px;
}

section {
    max-width: 80vw;
    padding: 5px;
    margin: auto;
    background-color: rgb(252, 241, 240);
    
}

h3 {
    font-size: 42px;
    color: rgb(0, 0, 138);
}

footer {
    width: 100%;
    height: 8%;
    background-color: rgb(252, 158, 158);
    color: rgb(0, 0, 0);
    clear: both;
    text-align: center;
    padding: 5px;

}

p {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: #000;
}
